$buttonHeight: 40px;
$buttonSmallHeight: 28px;
$buttonLargeHeight: 44px;
$buttonTinyHeight: 20px;

.Button {
	height: auto;
	min-height: $buttonHeight;
	border: 1px solid #2b2b29;
	cursor: pointer;
	font-family: "proxima-nova", "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
	position: relative;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	font-weight: 700;
	font-size: 13px;
	background-color: transparent;
	color: #2b2b29;
	outline: none;
	user-select: none;
	overflow: hidden;
	padding: 8px 12px;
	vertical-align: top;

	&:before {
		left: 0; right: 0; top: 0; bottom: 0;
		margin: auto;
		content: "";
		position: absolute;
		pointer-events: none;
		background: #000;
		opacity: 0;
	}

	.Button__icon svg, .Button__icon img {
		width: 100%;
		height: 100%;
		max-width: 20px;
		max-height: 20px;
		margin-right: 6px;
	}

	> svg, > img {
		height: 14px;
	}

	&--loading {
		opacity: 0.5;
		pointer-events: none;

		&:after {
			width: 100%;
			height: 100%;
			background: radial-gradient(circle, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0) 100%);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: "";
			animation: loadingButton 1s infinite;
		}
	}
	
	@keyframes loadingButton {
		from {
			transform: scale(2) translateX(-100%);
		}
		50% {
			opacity: 1;
		}
		to {
			transform: scale(2) translateX(50%);
			opacity: 0;
		}
	}

	&:hover:before {
		opacity: 0.05;
	}
	&:active:before {
		opacity: 0.1;
	}

	&--fullWidth {
		display: block;
		width: 100%;
	}

	&--size--small {
		font-size: 12px;
		min-height: $buttonSmallHeight;
		padding: 6px 10px;

		.Button__icon svg, .Button__icon img {
			max-width: 16px;
			max-height: 16px;
		}
		> svg, > img {
			height: 12px;
		}
	}
	&--size--tiny {
		font-size: 12px;
		font-weight: 400;
		min-height: $buttonSmallHeight;
		padding: 6px 10px;

		.Button__icon svg, .Button__icon img {
			max-width: 13px;
			max-height: 13px;
			margin-top: 2px;
		}
		> svg, > img {
			height: 12px;
		}
	}

	&--size--large {
		font-size: 16px;
		min-height: $buttonLargeHeight;
		padding: 8px 20px;

		> svg, > img {
			height: 18px;
		}
	}

	&--variant--raised {
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
	}

	&--variant--link, &--variant--contained {
		border: 0 !important;
	}

	&--variant--contained {
		background: #9F9F9F;
		color: #FFF;
	}

	&--color--primary {
		color: #ff0091;	
		border-color: #ff0091;

		&:not(.Button--color--white).Button--variant--contained {
			background-color: #ff0091;
			color: white;	
					
			&:hover:before {
				opacity: 0.2;
			}
			&:active:before {
				opacity: 0.35;
			}
			
			&:before {
				background: #FFF;
			}
		}
	}

	&--color--white {
		&.Button--variant--contained {
			color: #515151;
			background: #FFF;

			&.Button--color--primary {
				color: #ff0091;
			}
		}
	}

	&--color--invertHover {
		&:hover {
			color: #FFF;
			background: #000;
		}
		&.Button--color--primary {
			&:hover {
				background: #ff0091;
			}
		}
	}

	+ .Button:not(.Button--fullWidth) {
		margin-left: 8px;
	}

	&:disabled {
		opacity: 0.25;
		pointer-events: none;
	}
}