.Button {
	border: 1px solid #2b2b29;
	cursor: pointer;
	font-family: "proxima-nova", "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
	position: relative;
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	font-size: 13px;
	background-color: transparent;
	color: #2b2b29;
	outline: none;
	user-select: none;
	overflow: hidden;
	padding: 14px 25px 12px 25px;


	&:before {
		left: 0; right: 0; top: 0; bottom: 0;
		margin: auto;
		content: "";
		position: absolute;
		pointer-events: none;
		background: #000;
		opacity: 0;
	}

	svg, img {
		width: 100%;
		height: 100%;
		max-width: 20px;
		max-height: 20px;
		margin-right: 6px;
		margin-top: -1px;
	}

	&:hover:before {
		opacity: 0.1;
	}
	&:active:before {
		opacity: 0.15;
	}

	&--size--large {
		padding: 18px 25px 16px 25px;
		font-size: 16px;
	}

	&--withIcon {
		padding: 10px 25px 10px 25px;

		&.Button--size--large {
			padding: 16px 25px;
		}
	}

	&--variant--link {
		border: 0;
		padding: 14px 25px 13px 25px;

		&.Button--size--large {
			padding: 18px 25px 18px 25px;
		}
		
		&.Button--withIcon {
			padding: 12px 25px 10px 25px;

			&.Button--size--large {
				padding: 18px 25px 16px 25px;
			}
		}
	}

	&--color--primary {
		border-color: #ff0091;
		color: #ff0091;	

		&.Button--variant--contained {
			border-color: #ff0091;
			background-color: #ff0091;
			color: white;	
			&:before {
				background: #FFF;
			}
		}
	}

	+ .Button {
		margin-left: 8px;
	}

	&:disabled {
		opacity: 0.25;
		pointer-events: none;
	}
}

.Button--outline {
	background: transparent;
	color: #000;
	border-color: #000;
}

.Button--outline.Button--primary:hover {
	color: #ff0091;
	border-color: #ff0091;
}
.Button--outline.Button--primary:active {
	background: #ff0091;
	border-color: #ff0091;
	color: #fff;
}

.Button--white {
	background: #fff;
	opacity: 0.92;
	border: 0;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
	
}
.Button--white.Button--primary {
	color: #FF0091 !important;
}
.Button--white.Button--primary:hover {
	color: #FF0091 !important;
	background: #fff;
	opacity: 1;
}

.Button--ghost {
	border-color: #8a8a8a;
	color: #8a8a8a;
}
.Button--ghost.Button--white {
	border-color: #fff;
	background: transparent;
	color: #fff;
	border: 1px solid #FFF;
}
.Button--ghost:hover {
	background: #8a8a8a;
	color: #fff;
}
.Button--ghost.Button--white:hover {
	background: transparent;
	border-color: #FFF !important;
}
.Button--ghost.Button--white:hover:before {
	background: transparent;
	opacity: 0 !important;
}

.Button--link {
	border: 0;
	cursor: pointer;
}
.Button--link:before {
	content: none;
}
/**/
.Button--expanded {
	width: 100%;
}

.Button--danger {
	border: 0;
	background-color: #ee1207;
	color: white;
}

.Button--tab {
	border: 1px solid #2b2b29;
	background-color: transparent;
	color: #2b2b29;
}

.Button--tab + .Button--tab {
	margin-left: 10px;
}


.Button--large {
	padding: 14px 35px;
	font-size: 16px;
}

.Button--small {
	padding: 5px 20px;
}

.Button__icon {
	margin-right: 6px;
	display: inline-block;
	vertical-align: middle;
}

.Button__icon--standalone {
	margin: 0;
}


.Button--primary.Button--disabled {
	color: white;
	background-color: #dfdfdf;
}

@media (min-width: 640px) {
	.Button--large {
		padding: 14px 50px;
	}
}

.Button__icon {
	width: 100%;
	margin-right: 10px;
}
.Button__icon--small {
	max-width: 25px;
	max-height: 18px;
}
.Button__icon--medium {
	max-width: 50px;
	max-height: 50px;
}
.Button__icon--large {
	max-width: 75px;
	max-height: 75px;
}
