.Button {
	border: 1px solid #2b2b29;
	cursor: pointer;
	font-family: "proxima-nova", "Open Sans", "Roboto", Helvetica, Arial, sans-serif;
	position: relative;
	text-decoration: none;
	text-align: center;
	border-radius: 6px;
	padding: 0;
	line-height: 1.2;
	font-weight: 700;
	font-size: 13px;
	background-color: transparent;
	color: #2b2b29;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color 0.15s, border-color 0.15s, background-color 0.15s, opacity 0.15s ;
	overflow: hidden;
	padding: 14px 25px 12px 25px;
}
.Button * {
	position: relative;
}

.Button + .Button {
	margin-left: 6px;
}

.Button:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: #2b2b29;
	opacity: 0;
	pointer-events: none;
}

.Button:not(.Button--disabled):not(.Button--outline):hover:before {
	opacity: 0.15;
}
.Button:not(.Button--disabled):not(.Button--outline):hover:active {
	opacity: 0.25;
}
.Button--white:not(.Button--disabled):not(.Button--outline):not(.Button--primary):hover:before {
		opacity: 1;
}
.Button--white:not(.Button--disabled):not(.Button--outline):not(.Button--primary):active:before {
    opacity: 1;
}

.Button:not(.Button--disabled):not(.Button--outline):not(.Button--link):hover {
	color: #fff;
	border-color: #000;
}
.Button:not(.Button--disabled):hover .not-hover {
	display: none;
}
.Button .only-hover {
	display: none;
}
.Button:not(.Button--disabled):hover .only-hover {
	display: inline;
}

.Button--primary {
	border: 0;
	background-color: #ff0091;
	color: white;
}

.Button--outline {
	background: transparent;
	color: #000;
	border-color: #000;
}

.Button--outline.Button--primary:hover {
	color: #ff0091;
	border-color: #ff0091;
}
.Button--outline.Button--primary:active {
	background: #ff0091;
	border-color: #ff0091;
	color: #fff;
}

.Button--white {
	background: #fff;
	opacity: 0.92;
	border: 0;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
	
}
.Button--white.Button--primary {
	color: #FF0091 !important;
}
.Button--white.Button--primary:hover {
	color: #FF0091 !important;
	background: #fff;
	opacity: 1;
}
.Button--white.Button--primary:not(.Button--disabled):not(.Button--outline):hover:before {
	opacity: 0.02;
}

.Button--ghost {
	border-color: #8a8a8a;
	color: #8a8a8a;
}
.Button--ghost.Button--white {
	border-color: #fff;
	background: transparent;
	color: #fff;
	border: 1px solid #FFF;
}
.Button--ghost:hover {
	background: #8a8a8a;
	color: #fff;
}
.Button--ghost.Button--white:hover {
	background: transparent;
	border-color: #FFF !important;
}
.Button--ghost.Button--white:hover:before {
	background: transparent;
	opacity: 0 !important;
}

.Button--primary:not(.Button--disabled):not(.Button--outline):hover {
	color: white;
	text-decoration: none;
}

.Button--link {
	border: 0;
	cursor: pointer;
}
.Button--link:before {
	content: none;
}
/**/
.Button--expanded {
	width: 100%;
}

.Button--danger {
	border: 0;
	background-color: #ee1207;
	color: white;
}

.Button--danger:not(.Button--disabled):hover {
	color: white;
	text-decoration: none;
}

.Button--tab {
	border: 1px solid #2b2b29;
	background-color: transparent;
	color: #2b2b29;
}

.Button--tab + .Button--tab {
	margin-left: 10px;
}

.Button--tab.Button--active,
.Button--tab:not(.Button--disabled):hover {
	background-color: #2b2b29;
	border-color: #2b2b29;
	color: white;
}

.Button--large {
	padding: 14px 35px;
	font-size: 16px;
}

.Button--small {
	padding: 5px 20px;
}

.Button__icon {
	margin-right: 6px;
	display: inline-block;
	vertical-align: middle;
}

.Button__icon--standalone {
	margin: 0;
}

.Button--disabled {
	color: #dfdfdf;
	background-color: transparent;
	border: 0;
	pointer-events: none;
	justify-content: center;
	opacity: 0.25 !important;
}

.Button--primary.Button--disabled {
	color: white;
	background-color: #dfdfdf;
}

@media (min-width: 640px) {
	.Button--large {
		padding: 14px 50px;
	}
}

.Button__icon {
	width: 100%;
	margin-right: 10px;
}
.Button__icon--small {
	max-width: 25px;
	max-height: 18px;
}
.Button__icon--medium {
	max-width: 50px;
	max-height: 50px;
}
.Button__icon--large {
	max-width: 75px;
	max-height: 75px;
}
